USE [POCRC32]
GO
/****** Object:  UserDefinedTableType [dbo].[udtComponents]    Script Date: 3/3/2019 12:13:43 PM ******/
CREATE TYPE [dbo].[udtComponents] AS TABLE(
	[ComponentGroupCode] [varchar](4) NOT NULL,
	[ComponentNumber] [varchar](50) NOT NULL,
	[ComponentNumberSpecWeek] [varchar](6) NULL,
	[SoftwareReleaseDerivationIndicator] [bit] NOT NULL,
	[LastModifiedUserName] [varchar](128) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastModifiedDateTime] [datetime] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtSoftwareDefinition]    Script Date: 3/3/2019 12:13:43 PM ******/
CREATE TYPE [dbo].[udtSoftwareDefinition] AS TABLE(
	[SoftwareReleaseID] [int] NULL,
	[VehicleSystemGroupCode] [varchar](6) NOT NULL,
	[SoftwareReleaseCode] [varchar](20) NOT NULL,
	[VehicleSystemModelYear] [smallint] NULL,
	[SoftwareVersionNumber] [varchar](50) NULL,
	[SoftwareReleaseTypeID] [int] NOT NULL,
	[OTACapableIndicator] [bit] NOT NULL,
	[MinimumOTAClientVersion] [varchar](20) NULL,
	[LastModifiedUserName] [varchar](128) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastModifiedDateTime] [datetime] NOT NULL,
	[ActiveIndicator] [bit] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtSoftwareRelease]    Script Date: 3/3/2019 12:13:43 PM ******/
CREATE TYPE [dbo].[udtSoftwareRelease] AS TABLE(
	[VehicleSystemGroupCode] [varchar](6) NOT NULL,
	[SoftwareReleaseCode] [varchar](20) NOT NULL,
	[VehicleSystemModelYear] [smallint] NULL,
	[SoftwareVersionNumber] [varchar](50) NULL,
	[SoftwareReleaseTypeID] [int] NOT NULL,
	[OTACapableIndicator] [bit] NOT NULL,
	[MinimumOTAClientVersion] [varchar](20) NULL,
	[SoftwareReleaseText_English] [varchar](250) NOT NULL,
	[SoftwareReleaseText_Spanish] [varchar](250) NOT NULL,
	[SoftwareReleaseText_French] [varchar](250) NOT NULL,
	[LastModifiedUserName] [varchar](128) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastModifiedDateTime] [datetime] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtSoftwareReleaseComponent]    Script Date: 3/3/2019 12:13:43 PM ******/
CREATE TYPE [dbo].[udtSoftwareReleaseComponent] AS TABLE(
	[VehicleSystemGroupCode] [varchar](6) NOT NULL,
	[SoftwareReleaseCode] [varchar](20) NOT NULL,
	[ComponentGroupCode] [varchar](4) NOT NULL,
	[ComponentNumber] [varchar](50) NOT NULL,
	[ComponentNumberSpecWeek] [varchar](6) NULL,
	[SoftwareReleaseDerivationIndicator] [bit] NOT NULL,
	[LastModifiedUserName] [varchar](128) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastModifiedDateTime] [datetime] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtVinLastEight]    Script Date: 3/3/2019 12:13:43 PM ******/
CREATE TYPE [dbo].[udtVinLastEight] AS TABLE(
	[VinLastEight] [varchar](8) NOT NULL
)
GO
/****** Object:  Table [dbo].[ComponentSystemGroupCode]    Script Date: 3/3/2019 12:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentSystemGroupCode](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SystemGroupCode] [varchar](3) NOT NULL,
	[ComponentGroupCode] [varchar](4) NOT NULL,
 CONSTRAINT [PK_ComponentSystemGroupCode] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DialectText]    Script Date: 3/3/2019 12:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DialectText](
	[MicrosoftLocaleID] [int] NOT NULL,
	[TextID] [int] NOT NULL,
	[LanguageText] [varchar](max) NOT NULL,
	[ModificationDateTime] [datetime] NOT NULL,
	[ModifiedbyDatabaseLoginName] [varchar](75) NOT NULL,
	[timestamp] [timestamp] NULL,
 CONSTRAINT [pkDialectText] PRIMARY KEY CLUSTERED 
(
	[MicrosoftLocaleID] ASC,
	[TextID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanguageDialect]    Script Date: 3/3/2019 12:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageDialect](
	[MicrosoftLocaleID] [int] NOT NULL,
	[MicrosoftLocaleDescription] [varchar](255) NOT NULL,
 CONSTRAINT [PK_LanguageDialect] PRIMARY KEY CLUSTERED 
(
	[MicrosoftLocaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Release]    Script Date: 3/3/2019 12:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Release](
	[ReleaseID] [int] IDENTITY(1,1) NOT NULL,
	[SystemGroupCode] [varchar](6) NOT NULL,
	[ReleaseCode] [varchar](20) NULL,
	[ModelYear] [smallint] NULL,
	[VersionNumber] [varchar](50) NULL,
	[ReleaseTypeID] [int] NOT NULL,
	[ConnectCapableIndicator] [bit] NOT NULL,
	[MinimumConnectClientVersion] [varchar](20) NULL,
	[LastModifiedUserName] [varchar](128) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastModifiedDateTime] [datetime] NOT NULL,
	[timestamp] [timestamp] NULL,
	[ActiveIndicator] [bit] NOT NULL,
 CONSTRAINT [pkSoftwareRelease] PRIMARY KEY CLUSTERED 
(
	[ReleaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReleaseComponent]    Script Date: 3/3/2019 12:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseComponent](
	[ComponentGroupCode] [varchar](4) NOT NULL,
	[ReleaseID] [int] NOT NULL,
	[ComponentNumber] [varchar](50) NOT NULL,
	[ComponentNumberSpecWeek] [varchar](6) NULL,
	[ReleaseDerivationIndicator] [bit] NOT NULL,
	[LastModifiedUserName] [varchar](128) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastModifiedDateTime] [datetime] NOT NULL,
	[timestamp] [timestamp] NULL,
 CONSTRAINT [pkSoftwareReleaseComponent] PRIMARY KEY CLUSTERED 
(
	[ReleaseID] ASC,
	[ComponentGroupCode] ASC,
	[ComponentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReleaseNote]    Script Date: 3/3/2019 12:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseNote](
	[ReleaseID] [int] NOT NULL,
	[ReleaseNoteTypeCode] [varchar](4) NOT NULL,
	[ReleaseNoteTextID] [int] NOT NULL,
	[LastModifiedUserName] [varchar](128) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ReleaseNote] PRIMARY KEY CLUSTERED 
(
	[ReleaseID] ASC,
	[ReleaseNoteTypeCode] ASC,
	[ReleaseNoteTextID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReleaseNoteType]    Script Date: 3/3/2019 12:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseNoteType](
	[ReleaseNoteTypeCode] [varchar](4) NOT NULL,
	[ReleaseNoteTypeDescription] [varchar](75) NOT NULL,
 CONSTRAINT [pkSoftwareReleaseNoteType] PRIMARY KEY CLUSTERED 
(
	[ReleaseNoteTypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReleaseType]    Script Date: 3/3/2019 12:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseType](
	[ReleaseTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ReleaseTypeName] [varchar](75) NOT NULL,
 CONSTRAINT [pkSoftwareReleaseType] PRIMARY KEY CLUSTERED 
(
	[ReleaseTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemGroup]    Script Date: 3/3/2019 12:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemGroup](
	[SystemGroupIdentifier] [int] NOT NULL,
	[SystemGroupCode] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[SystemGroupIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TextReference]    Script Date: 3/3/2019 12:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextReference](
	[TextID] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [timestamp] NULL,
 CONSTRAINT [pkTextReference] PRIMARY KEY CLUSTERED 
(
	[TextID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Release] ADD  DEFAULT (suser_sname()) FOR [LastModifiedUserName]
GO
ALTER TABLE [dbo].[Release] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Release] ADD  DEFAULT (getdate()) FOR [LastModifiedDateTime]
GO
ALTER TABLE [dbo].[Release] ADD  DEFAULT ((0)) FOR [ActiveIndicator]
GO
ALTER TABLE [dbo].[ReleaseComponent] ADD  DEFAULT (suser_sname()) FOR [LastModifiedUserName]
GO
ALTER TABLE [dbo].[ReleaseComponent] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[ReleaseComponent] ADD  DEFAULT (getdate()) FOR [LastModifiedDateTime]
GO
ALTER TABLE [dbo].[ReleaseNote] ADD  DEFAULT (suser_sname()) FOR [LastModifiedUserName]
GO
ALTER TABLE [dbo].[ReleaseNote] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[ReleaseNote] ADD  DEFAULT (getdate()) FOR [LastModifiedDateTime]
GO
ALTER TABLE [dbo].[DialectText]  WITH CHECK ADD  CONSTRAINT [fkDialectTextXLanguageDialect] FOREIGN KEY([MicrosoftLocaleID])
REFERENCES [dbo].[LanguageDialect] ([MicrosoftLocaleID])
GO
ALTER TABLE [dbo].[DialectText] CHECK CONSTRAINT [fkDialectTextXLanguageDialect]
GO
ALTER TABLE [dbo].[DialectText]  WITH CHECK ADD  CONSTRAINT [fkDialectTextXTextReference] FOREIGN KEY([TextID])
REFERENCES [dbo].[TextReference] ([TextID])
GO
ALTER TABLE [dbo].[DialectText] CHECK CONSTRAINT [fkDialectTextXTextReference]
GO
ALTER TABLE [dbo].[Release]  WITH CHECK ADD  CONSTRAINT [fkSoftwareReleaseXSoftwareReleaseType] FOREIGN KEY([ReleaseTypeID])
REFERENCES [dbo].[ReleaseType] ([ReleaseTypeID])
GO
ALTER TABLE [dbo].[Release] CHECK CONSTRAINT [fkSoftwareReleaseXSoftwareReleaseType]
GO
ALTER TABLE [dbo].[ReleaseComponent]  WITH CHECK ADD  CONSTRAINT [fkSoftwareReleaseComponentXSoftwareRelease] FOREIGN KEY([ReleaseID])
REFERENCES [dbo].[Release] ([ReleaseID])
GO
ALTER TABLE [dbo].[ReleaseComponent] CHECK CONSTRAINT [fkSoftwareReleaseComponentXSoftwareRelease]
GO
ALTER TABLE [dbo].[ReleaseNote]  WITH CHECK ADD  CONSTRAINT [fkSoftwareReleaseNoteXSoftwareRelease] FOREIGN KEY([ReleaseID])
REFERENCES [dbo].[Release] ([ReleaseID])
GO
ALTER TABLE [dbo].[ReleaseNote] CHECK CONSTRAINT [fkSoftwareReleaseNoteXSoftwareRelease]
GO
ALTER TABLE [dbo].[ReleaseNote]  WITH CHECK ADD  CONSTRAINT [fkSoftwareReleaseNoteXSoftwareReleaseNoteType] FOREIGN KEY([ReleaseNoteTypeCode])
REFERENCES [dbo].[ReleaseNoteType] ([ReleaseNoteTypeCode])
GO
ALTER TABLE [dbo].[ReleaseNote] CHECK CONSTRAINT [fkSoftwareReleaseNoteXSoftwareReleaseNoteType]
GO
ALTER TABLE [dbo].[ReleaseNote]  WITH CHECK ADD  CONSTRAINT [fkSoftwareReleaseNoteXTextReference] FOREIGN KEY([ReleaseNoteTextID])
REFERENCES [dbo].[TextReference] ([TextID])
GO
ALTER TABLE [dbo].[ReleaseNote] CHECK CONSTRAINT [fkSoftwareReleaseNoteXTextReference]
GO
