<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ESRConnectionString" value="Data Source=(localdb)\\mssqllocaldb;Initial Catalog=POCSR;Trusted_Connection=Yes;Integrated Security=SSPI;Async=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>

</configuration>
